.features-cont {
  border-bottom: 3px solid black;
  background: linear-gradient(
      139.58deg,
      #ffd40061 -0.47%,
      rgb(255 255 255 / 0%) 77%
    ),
    linear-gradient(161deg, #15731c 9.39%, rgba(104, 182, 132, 0) 83.29%),
    linear-gradient(0deg, #025100, #000000);
}

.features-cont::-webkit-scrollbar {
  display: none;
}

.features-cont::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 120vh;
  background-image: url(../../assets/backgrounds/bg-texture.png);
  background-position: 0% 0%;
  background-size: 16rem;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  mix-blend-mode: multiply;
  border-top: 3px solid black;
}

.services-display {
  border-radius: 15px;
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;
  overflow-x: visible;
  overflow-y: hidden;
  /* background-color: rgb(241, 241, 241); */
}

.features {
  border-radius: 15px;
  height: 48%;
  padding: 1rem;
  text-align: center;
}

.info-title {
  box-shadow: 1px -4px 20px 9px rgba(0, 0, 0, 0.25);
}

@keyframes Bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px) scale(1.05);
    
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes ShadowImg {
  0% {

  }
  50% {
    filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.25));
    
  }
  100% {

  }
}

@keyframes ShadowBg {
  0% {

  }
  50% {
    filter: drop-shadow(0px 10px 2px rgba(0, 0, 0, 0.25));
    
  }
  100% {

  }
}

.services-image-cont {
  overflow: hidden !important;
}

.services0 {
  flex-direction: row-reverse;
}

.services-text0 {
  transform: translateX(4rem);
}
.services1 {
  flex-direction: row;
}

.services-text1 {
  transform: translateX(-4rem);
}
.services2 {
  flex-direction: row-reverse;
}

.services-text2 {
  transform: translateX(4rem);
}
.services3 {
  flex-direction: row;
}

.services-text3 {
  transform: translateX(-4rem);
}

.services-svg {
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgb(71, 204, 38) 0%, rgb(255, 255, 255) 100%);
  aspect-ratio: 1/1;
  border: 2px solid rgba(128, 128, 128, 0.226);
}

.services-img {
  animation: Bounce 3s ease-in-out infinite, ShadowImg 3s ease-in-out infinite;
}

.services-bg {
  animation: Bounce 3s ease-in-out infinite, ShadowBg 3s ease-in-out infinite;
  animation-delay: 0.4s;
}

.swiper-pagination {
  bottom: 0 !important;
  box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 0.4rem 0;
  background-color: white;
}

.swiper-pagination-bullet {
  background-color: rgb(34 197 94) !important;
  transform: scale(1.2);
  border: 1px solid rgb(2, 145, 54);
}

/* Responsive */

@media (max-width: 655px) {
  .features-cont::before {
    height: 200vh;
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .features-cont::before {
    height: 200vh;
    box-shadow: none;
  }
}

@media (max-width: 1024px) {
  .services-display {
    background-color: transparent;
    box-shadow: none;
    max-width: 40rem !important;
  }
  
  .services0 {
    flex-direction: row-reverse;
  }
  
  .services-text0 {
    transform: translateY(-4rem);
  }
  .services1 {
    flex-direction: row;
  }
  
  .services-text1 {
    transform: translateY(-4rem);
  }
  .services2 {
    flex-direction: row-reverse;
  }
  
  .services-text2 {
    transform: translateY(-4rem);
  }
  .services3 {
    flex-direction: row;
  }
  
  .services-text3 {
    transform: translateY(-4rem);
  }
}

/* Responsive */
