@keyframes BounceIn {
    0% {
      opacity: 0;
      transform: scale(1.2);
      filter: blur(5px);
    }
    100% {
      transform: scale(1);
      filter: blur(0);
      opacity: 1;
    }
  
  }
  
  .modal-animation {
    will-change: transform, opacity, filter, blur, -webkit-filter;
    animation: BounceIn 0.3s ease-in-out forwards;
    opacity: 0;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }
    100% {
      transform: scale(1) translateX(0);
      opacity: 1;
      pointer-events: auto;
    }
  }
  
  .close-button {
    will-change: opacity, transform, pointer-events, user-select;
    animation: fadeIn 0.3s 0.3s ease-in-out forwards;
    transform: translateX(-100px);
    opacity: 0;
  }
