/* .footer-cont {
    background: linear-gradient(
        139.58deg,
        #ffd40061 -0.47%,
        rgb(255 255 255 / 0%) 77%
      ),
      linear-gradient(161deg, #15731c 9.39%, rgba(104, 182, 132, 0) 83.29%),
      linear-gradient(0deg, #025100, #000000);
} */

.footer-cont::before {
    background-image: url(../../assets/backgrounds/bg-texture.png);
    background-size: 16rem;
    position: absolute;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
}

@keyframes BounceIn {
    0% {
      opacity: 0;
      transform: scale(1.2);
      filter: blur(5px);
    }
    100% {
      transform: scale(1);
      filter: blur(0);
      opacity: 1;
    }
  
  }
  
  .modal-animation {
    will-change: transform, opacity, filter, blur, -webkit-filter;
    animation: BounceIn 0.3s ease-in-out forwards;
    opacity: 0;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }
    100% {
      transform: scale(1) translateX(0);
      opacity: 1;
      pointer-events: auto;
    }
  }
  
  .close-button {
    will-change: opacity, transform, pointer-events, user-select;
    animation: fadeIn 0.3s 0.3s ease-in-out forwards;
    transform: translateX(-100px);
    opacity: 0;
  }
