@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

body {
  background-color: white;
}

